html {
  overflow: hidden;
  font-family: 'Didact Gothic', sans-serif;
}

body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

input[type='text'] {
  font-family: 'Didact Gothic', sans-serif;
  display: inline-block;
  font-size: 3em;
  padding: 20px 20px 20px 0px;
  margin: 10px;
  transition: 0.4s;
  background: none;
  border: none;
  border-bottom: 3px dotted red;
  color: #BBB;
  width:100%;
}
input[type='text']:focus {
  color: #333;
  outline: none;
}
input[type='text']:focus + #main{
  box-shadow: none;
}
.veil {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 90%;
  background-color: rgba(255,255,255,0.8);

  transition: top 0.7s;
  -webkit-transition: top 0.7;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.veil:hover{
  top: 10%;
}
.veil:hover + #veil-header {
  background-color: white;
}
#main {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 75%;
  margin: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 10px 10px 10px #cfcfcf;
  border-radius: 20px;
}
#header {
  background-color: #1cb0f6;
  height: 43px;
  padding: 15px;
  text-align: center;
  letter-spacing: 4px;
  margin: 0px;
}
#header > img {
  height: 100%;
}
#status{
  display: inline-block;
  height: 100px;
  background-color: red;
}
#veil-header {
  text-align: center;
  letter-spacing: 4px;
  height: 10%;
  width: 100%
  padding: 5px;
  color: #AAA;
}
#veil-content {
  width: 75%;
  margin: auto;
  line-height: 1.4em;
  font-size: 1.3em;

}
